<footer class="footer">
  <div class="container">

    <div class="footer-grid">

      <!-- LEFT COLUMN -->
      <div class="footer-col">
        <h4>Stay Connected</h4>

        <div class="footer-contact">
          <a href="https://www.instagram.com/ieeegsb_ohiostate/?hl=en"
             target="_blank"
             class="footer-link">
            <i class="fa fa-instagram"></i>
            <span>@ieeegsb_ohiostate</span>
          </a>

          <a href="mailto:ieeegsb.osu@gmail.com"
             class="footer-link">
            <i class="fa fa-envelope"></i>
            <span>ieeegsb.osu@gmail.com</span>
          </a>
        </div>
      </div>

      <!-- RIGHT COLUMN -->
      <div class="footer-col">
        <h4>Address</h4>

        <div class="footer-address">
          <div class="footer-address-line">
            <i class="fa fa-map-marker"></i>
            <span><strong>Located in:</strong> College of Engineering</span>
          </div>

          <div class="footer-address-line">
            <i class="fa fa-building"></i>
            <span>
              Dreese Laboratories, Room 205<br>
              2015 Neil Ave<br>
              Columbus, OH 43210
            </span>
          </div>
        </div>
      </div>

    </div>

  </div>
</footer>
