<footer class="footer mt-5">
  <div class="container">
    <div class="row">

      <!-- STAY CONNECTED -->
      <div class="col-md-4">
        <h4>Stay Connected</h4>
        <p>
          📧 <a href="mailto:ieeegsb.osu@gmail.com">ieeegsb.osu@gmail.com</a><br><br>
          📸 <a href="https://www.instagram.com/ieeegsb_ohiostate/?hl=en" target="_blank">
            @ieeegsb_ohiostate
          </a>
        </p>
      </div>

      <!-- CONTACT -->
      <div class="col-md-4">
        <h4>Contact</h4>
        <p>
          <a href="mailto:ieeegsb.osu@gmail.com">
            📧 Contact IEEE GSB via email
          </a><br><br>
          <a href="https://www.instagram.com/ieeegsb_ohiostate/?hl=en" target="_blank">
            📸 Instagram
          </a>
        </p>
      </div>

      <!-- ADDRESS -->
      <div class="col-md-4">
        <h4>Address</h4>
        <p>
          <strong>Located in:</strong> College of Engineering<br><br>
          <strong>Dreese Laboratories</strong><br>
          Room 205<br>
          2015 Neil Ave<br>
          Columbus, OH 43210
        </p>
      </div>

    </div>
  </div>
</footer>
