<footer class="footer">
  <div class="container">
    <div class="row">

      <!-- LEFT: Stay Connected -->
      <div class="col-md-12">
        <h3>Stay Connected</h3>
        <hr>
        <ul>
          <li>
            📧 <strong>Email:</strong>
            <a href="mailto:ieeegsb.osu@gmail.com">ieeegsb.osu@gmail.com</a>
          </li>
          <li>
            📸 <strong>Instagram:</strong>
            <a href="https://www.instagram.com/ieeegsb_ohiostate/?hl=en" target="_blank">
              @ieeegsb_ohiostate
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="row" style="margin-top:40px">

      <!-- CONTACT -->
      <div class="col-md-6">
        <h4>Contact</h4>
        <p>
          <a href="mailto:ieeegsb.osu@gmail.com">
            ✉️ Contact IEEE GSB via email
          </a>
        </p>
      </div>

      <div class="col-md-6">
        <h4>Address</h4>
        <p>
          <strong>Located in:</strong> College of Engineering<br><br>
          <strong>Address:</strong><br>
          Dreese Laboratories, Room 205<br>
          2015 Neil Ave<br>
          Columbus, OH 43210
        </p>
      </div>


    </div>

  </div>
</footer>
