<div class="bubble-layer">

  <span class="bubble small brutus-bubble" style="left:8%; animation-duration:9s; animation-delay:-2s;">
    <img src="{{ '/images/brutus.png' | relative_url }}" alt="Brutus Buckeye">
  </span>

  <span class="bubble medium brutus-bubble" style="left:22%; animation-duration:11s; animation-delay:-5s;">
    <img src="{{ '/images/brutus.png' | relative_url }}" alt="Brutus Buckeye">
  </span>

  <span class="bubble small brutus-bubble" style="left:38%; animation-duration:10s; animation-delay:-3s;">
    <img src="{{ '/images/brutus.png' | relative_url }}" alt="Brutus Buckeye">
  </span>

  <span class="bubble large brutus-bubble" style="left:55%; animation-duration:13s; animation-delay:-6s;">
    <img src="{{ '/images/brutus.png' | relative_url }}" alt="Brutus Buckeye">
  </span>

  <span class="bubble medium brutus-bubble" style="left:70%; animation-duration:11s; animation-delay:-4s;">
    <img src="{{ '/images/brutus.png' | relative_url }}" alt="Brutus Buckeye">
  </span>

  <span class="bubble small brutus-bubble" style="left:82%; animation-duration:9s; animation-delay:-7s;">
    <img src="{{ '/images/brutus.png' | relative_url }}" alt="Brutus Buckeye">
  </span>

  <span class="bubble small brutus-bubble" style="left:92%; animation-duration:10s; animation-delay:-5s;">
    <img src="{{ '/images/brutus.png' | relative_url }}" alt="Brutus Buckeye">
  </span>

</div>
